html, body { height: 100%; width:100%; }

body {
    background-image: url("./img/background-img/pokeballs.png");
    background-size: 400px;
    /*background-repeat: no-repeat;*/
}

.navbar-brand {
    text-shadow: .2px .2px .2px #000000;
}

.navbar-brand img {
    margin-right:7px;
    box-shadow: 0 0 1px 1px #000000;
    border-radius: 50% 50%;
}

.navbar {
    /*height:55px;*/
    position: relative;
    font-family: 'Kanit', sans-serif;
    text-shadow: .2px .2px .2px #000000;
}

.navbar-battle {

}

.navbar-catch { 
    color:rgb(255, 204, 0);
}

.alert{
    width:100%;
    margin-bottom:0;
}

.flash-button {
    margin-top:0;
}

.content-container {
    height:100%;
    /*height:calc(100% - 55px);*/
    width:100%;
    display:flex;
    flex-direction: column;
    /*justify-content: flex-start;
    align-items:center;*/
}

.nav-items-shown {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 60% 30% 10%; 
    grid-template-rows: 1fr; 
    gap: auto 20px; 
    grid-template-areas: 
    ".navbar-brand .user-profile-icons .navbar-toggler"; 
    width:100%;
    /*height:100%;*/
}

.user-link {
    color: rgb(67, 142, 209);
}

.user-link:hover {
    filter: brightness(70%);
}

.guest-link {
    color: rgb(255, 255, 255);
}

.guest-link:hover {
    color: rgb(50, 50, 50);
}

.hello-user-link:hover {
    filter: brightness(70%);
}

#user-greeting {
    justify-self: end;
    align-self:center;
    position:relative;
    color:#ccc;
}

#profile-icon {
    width: 30px;
    height:30px;
    justify-self:center;
}

.profile_img {
    align-self:center;
    border-radius: 50%;
    padding:1px;
    /*border: 1px solid black;*/
    background-color: white;
    object-fit: cover;
}

.user-profile-icons{
    display:flex;
    flex-direction: rows;
    min-width: 100px;
    align-self:center;
    justify-self:right;
    padding-right: 20px;
}

.notification {
    color:rgb(252, 59, 64);
}

.notification:hover {
    text-decoration: none;
    color:rgb(125, 30, 33);
}

.navbar-toggler {
    justify-self: end;
    /*position:fixed;*/
    min-width:50px;
}

.nav-item p {
    background-color:rgb(41, 41, 41);
    margin-bottom:0px;
}

.navbar-collapse {
    padding-top: 10px;
}

h1 {
    text-align:center;
    color:red;
    padding-top:10px;
}

h6 {
    text-align:center;
    /*padding:30px;*/
}

.index {
    display:flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
}

.index button {
    width:50%;
    align-self:center;
}

.container {
    display:flex;
    width:100%;
    height:100%;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.home-container {
    background: rgba(255, 255, 255, 0.8);
    width:90%;
    font-family: 'Kanit', sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    align-self:center;
    height:100%;

    display:flex;
    flex-direction:column;
    align-items:center;

}

.update-user-container {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    flex-flow: row wrap;

    width:90%;
    font-family: 'Kanit', sans-serif;
    text-shadow: 1px 1px 3px 3px #272727;
    align-self:center;
}

#update-title {
    font-size: 32px;
    color:#1d1d1d;
    text-align:center;
    justify-content:center;
}

#update-user-form {
    width: 60%;
}


.update-title {
    width:40%;
}

.update-form{
    width:60%;
}

.update-inner-container{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items: center;
}

#delete-prof-pic {
    width:8%;
    display:flex;
}

.color-update {
    width: 70%;
}

.go-back-btn {
    width: 90px;
}

.update-option-buttons {
    width:400px;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top: 5px;
    gap: 20px;
    margin-bottom: 10px;
}

/* Type the name of the pokemon you want to catch*/
h4 {
    font-size:20px;
    text-align:center;
    padding-top:10px;
}

.search-container {
    padding-top: 20px;
}

#search-area {
    align-self:center;
    justify-self:center;
}

form {
    align-items:center;
    justify-content:center;
    width:50%;
    flex-direction: column;
    display:flex;
}

#profile-pic-option {
    margin-top:4px;
    font-size: 13px;
}

#submit-btn {
    align-self:center;
    justify-self:center;
    width:50%;
    margin:10px;
    padding:3px;
}

/* For delete account button*/
.modal-title {
    font-size: 30px;
}


.card-body {
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    text-align:center;
    justify-self:flex-start;
    margin:0;
    width:100%;
}

.card-text {
    font-size: 8px;
    padding:0;
    margin:0;
    height:14px;
}

.user-pg-card-text {
    font-size: min(.6vw, 5.2px);;
    padding:0;
    margin:0;
    height:min(1vw, 8.6px);
}

.card {
    /*border: 2px solid rgb(53, 54, 60);*/
    border: 0px;
    width:100%;
    /*max-width: 155px;
    height:fit-content;*/
    /*height:fit-content;*/
    /*height:100%;*/ /* We may need to add this back for the search page */
    display: grid; 
    grid-auto-flow: column;
    grid-auto-columns: fit-column; 
    grid-auto-rows: auto; 
    grid-template-columns: 1fr; 
    /*grid-template-rows: 0.2fr 1fr 1fr; */
    grid-template-rows: 0.14fr 1fr 1fr; 

    gap: 0px 0px; 
    grid-template-areas: 
        ".card-title-top"
        ".card-img-top"
        ".card-body";
        
    text-shadow: none;
}

.steel-card { 
    background-image: url("./img/steel-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fire-card { 
    background-image: url("./img/fire-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.basic-card { 
    background-image: url("./img/basic-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.electric-card { 
    background-image: url("./img/electric-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.water-card { 
    background-image: url("./img/water-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.psychic-card { 
    background-image: url("./img/psychic-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fighting-card { 
    background-image: url("./img/fighting-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dragon-card { 
    background-image: url("./img/dragon-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ice-card { 
    background-image: url("./img/ice-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.grass-card { 
    background-image: url("./img/grass-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dark-card { 
    background-image: url("./img/dark-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fairy-card { 
    background-image: url("./img/fairy-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.rock-card { 
    background-image: url("./img/rock-pokemon-card-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#catch-button {
    align-items:center;
    align-self:center;
}

.catch-pokeball {
    align-self:center;
}

.catch-pokemon-container {
    margin-top:5px;
    display:flex;
    width:100%;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.catch-pokemon-container p {
    font-size: 13px;
}

.trainer-card { 
    background-image: url("./img/trainer-card.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0px;
    width:100%;
    height:100%h;
    display: grid; 
    grid-auto-flow: column;
    grid-auto-columns: fit-column; 
    grid-auto-rows: auto; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.4fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ".profile-pic"
        ".trainer-card-body"; 
}

.profile-pic {
    justify-self:center;
    align-self: flex-end;
    scale: 85%;
    margin-bottom:1px;
    object-fit: cover;
}

#edit-prof-pic {
    align-self: center;
    margin-left:20px;
}

.trainer-card-body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    padding:0;
    display: grid; 
    grid-auto-flow: column;
    grid-auto-rows: auto; 
    grid-template-columns: 1fr; 
    grid-template-rows: 16px 1px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "user-name"
        "line"
        "bio"; 
    align-items: start;
    justify-content:center;
    /*background-color: orange;*/
}

/*.trainer-list-group {
    /* should we just use list-group*/
    /*width: 100%;
    justify-self:flex-start;
    align-items:center;
    margin-top:6px;
}*/

.trainer-card-item {
    align-self: start;
    background-color:rgb(247, 246, 246);
    color:rgb(0, 0, 0);
    font-size: 10px;
    /*text-align:center;*/
    padding-left: 2px;
    padding-right: 2px;
    margin-left:19px;
    margin-right: 19px;
}

#user-name {
    grid-area: user-name;
    height:100%;
    /*height:16px;*/
}

.hline { grid-area: line; width:100%; height:3px; background: #000000 }

.bio {
    grid-area: bio;
    box-sizing: border-box;
    margin-bottom:22px;
    height: calc(100% - 22px);
    overflow-wrap: break-word;
}

.card-img-top {
    /*transform:scale(.6);
    -ms-transform:scale(.6); /* IE 9 */
    /*-moz-transform:scale(.6); /* Firefox */
    /*-webkit-transform:scale(.6); /* Safari and Chrome */
    /*-o-transform:scale(.6); /* Opera */
    width:60%;
    padding:0;
    margin:0;
    align-self:center;
    justify-self:center;
}


.list-group {
    width: 90%;
    justify-self:flex-start;
    /*align-items:center;*/
    margin-top:6px;
}

.user-pg-list-group {
    width: 90%;
    justify-self:flex-start;
    /*align-items:center;*/
    margin-top:3%;  /*check to ensure this */
}

.list-group-item {
    background-color:rgb(247, 246, 246);
    color:rgb(0, 0, 0);
}

.card-title-top {
    margin-top:9px;
    /*font-size:16px;*/
    padding:0;
    margin-bottom:0;
}

.user-pg-card-title-top {
    margin-top:5%;
    /*font-size:16px;*/
    padding:0;
    margin-bottom:0;
}

.card-title-steel {
    margin-left:14px;
}

.user-card-title-steel {
    margin-top:6%;
    margin-left:15%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-basic {
    margin-left:14px;
}

.user-card-title-basic {
    margin-top:6%;
    margin-left:15%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-fire {
    margin-left:45px;
    font-size: 15px;
    margin-top:10px;
}

.user-card-title-fire {
    margin-top:6%;
    margin-left:24%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-electric {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-electric {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-rock {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-rock {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-grass {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-grass {
    margin-top:5%;
    margin-left:25%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-water {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-water {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-psychic {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-psychic {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}


.card-title-ice {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-ice {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-dragon {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-dragon {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(246, 246, 246);
}

.card-title-fighting {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-fighting {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

.card-title-dark {
    margin-left:50px;
    font-size: 13px;
    color:rgb(246, 246, 246);
}

.user-card-title-dark {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(246, 246, 246);
}

.card-title-fairy {
    margin-left:50px;
    font-size: 13px;
}

.user-card-title-fairy {
    margin-left:28%;
    font-size:min(1vw, 8.7px);
    position:relative;
    color:rgb(0, 0, 0);
}

#login-text {
    color:rgb(43, 155, 170)
}

#sign-up-text {
    color:rgb(19, 97, 243);
    margin-bottom: 18px;
}

.form {
    width: 100%;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    margin: 4px;
}

.form-control-color {
    width:10%;
    padding:0;
}

.form-button {
    margin: 4px;
}

.signup-link {
    font-size: 13px;
}

.invalid-input {
    color:red;
    font-size: 10px;
    margin:0px;
}

#user-homepage-title {
    font-size: 20px;
    margin-top:10px;
    margin-bottom:10px;
    text-shadow: 1px 1px 3px 3px #272727;
}

.user-container {
    max-width:100%;
    padding:0;
    margin:0;
    /*height:100%; /* this isn't working*/
    /*resting height is 55px, active height is 226*/
    height: calc(100% - 55px); /* to account for the navbar */
    
    height: 100%;
    
    display: grid;
    grid-auto-flow: column;
    /*grid-auto-flow: row; */
    grid-auto-columns: auto;
    grid-auto-rows: auto; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr; 
    gap: 10px; 
    grid-template-areas: 
        "top-user"
        "bottom-user"; 
    /*align-items: start;*/
    /*justify-content:center;*/

    width:90%;
    font-family: 'Kanit', sans-serif;
    /*text-shadow: .5px .5px 1px #000000;*/
    align-self:center;

}

.top-user-container {
    grid-area: top-user;
    height: 100%;
}

/* for user page */
.option-buttons {
    width:400px;
    display: grid;
    grid-auto-flow:row;
    /*grid-auto-flow: row; */
    grid-auto-rows: auto; 
    grid-auto-columns: auto;
    grid-template-columns: auto 1fr auto; 
    grid-template-rows: 1fr; 
    gap: 10px; 
    grid-template-areas: 
        "friends update delete"; 
    align-items:center;
    justify-content:center;
    margin-top: 5px;
}

#user-friends-button {
    grid-area: friends;
    width: 130px;
    padding:3px;
}

#update-profile-btn {
    grid-area: update;
    width: 130px;
    padding:3px;
    justify-self:center;
}

#delete-user-btn {
    grid-area: delete;
    width: 130px;
    padding:3px;
}

.bottom-user-container {
    grid-area:bottom-user;
    height:100%; /*why isn't this working*/
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    display: grid;
    /*grid-auto-flow: row;*/
    /*grid-auto-flow: row; */
    /*align-content: flex-start;*/
    align-items:center;
    /*justify-content:flex-start;*/ 

    justify-content:flex-end; /* not working */
    /*grid-auto-columns: auto;
    grid-auto-rows: auto; */ 
    /*gap: 4px; */
    
    /*max-height:100%;*/
    /*grid-auto-rows: auto minmax(0, 80%); /* this isn't working */

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 

    /*grid-template-rows: auto .1fr auto; */
    grid-template-rows: minmax(auto, 85%) .1fr auto; /* This is what is keeping the cards a certain height */
    grid-template-areas: 
        "poke-card1 poke-card2 poke-card3 poke-card4 poke-card5"
        "remove-button1 remove-button2 remove-button3 remove-button4 remove-button5"
        "space space space space space"; 
    /*grid-template-rows: auto 1fr .1fr; 
    grid-template-areas: 
        "space space space space space"
        "poke-card1 poke-card2 poke-card3 poke-card4 poke-card5"
        "remove-button1 remove-button2 remove-button3 remove-button4 remove-button5";*/
}

.poke_card1 {
    display:flex;
    flex-direction:column;
    grid-area: poke-card1;
    background: transparent;
    width:100%;
    max-width:155px; /* This is what is getting the card to a max height, see grid-template rows above */
    
    /*max-height:100px;*/
    align-content: center;
    align-items: center;
    margin-bottom:0;

    justify-self:center;

    min-height:100%;
    justify-content: flex-end; /* at bottom*/
    /*height:100%;
    /*height:100%;*/
    /*min-height:100%;*/ /* not doing anything */
}
.poke_card2 {
    display:flex;
    flex-direction:column;
    grid-area: poke-card2;
    background: transparent;
    width:100%;
    max-width:155px; /* This is what is getting the card to a max height, see grid-template rows above */
    
    /*max-height:100px;*/
    align-content: center;
    align-items: center;
    margin-bottom:0;

    justify-self:center;

    min-height:100%;
    justify-content: flex-end;
}
.poke_card3 {
    display:flex;
    flex-direction:column;
    grid-area: poke-card3;
    background: transparent;
    width:100%;
    max-width:155px; /* This is what is getting the card to a max height, see grid-template rows above */
    
    /*max-height:100px;*/
    align-content: center;
    align-items: center;
    margin-bottom:0;

    justify-self:center;

    min-height:100%;
    justify-content: flex-end; 
}
.poke_card4 {
    display:flex;
    flex-direction:column;
    grid-area: poke-card4;
    background: transparent;
    width:100%;
    max-width:155px; /* This is what is getting the card to a max height, see grid-template rows above */
    
    /*max-height:100px;*/
    align-content: center;
    align-items: center;
    margin-bottom:0;

    justify-self:center;

    min-height:100%;
    justify-content: flex-end;
}
.poke_card5 {
    display:flex;
    flex-direction:column;
    grid-area: poke-card5;
    background: transparent;
    width:100%;
    max-width:155px; /* This is what is getting the card to a max height, see grid-template rows above */
    
    /*max-height:100px;*/
    align-content: center;
    align-items: center;
    margin-bottom:0;

    justify-self:center;

    min-height:100%;
    justify-content: flex-end;
}

.poke-card-img {
    padding:0;
    margin:0;
    align-self:center;
    justify-self:flex-end;
    width:76%;
    /*height:87.1%; /* so same dimensions as other cards */
    /*height:100%;*/
}

.remove-button {
    margin-top: 4px;
    padding:0;
    width:50%;
    /*margin:4px;*/
    font-size:1.4vw;
    justify-self:center;
    align-items:flex-start;
    /*min-height: 20px;*/
}

.remove-button1 {
    grid-area:remove-button1;
    align-self:flex-start;
}
.remove-button2 {
    grid-area:remove-button1;
}
.remove-button3 {
    grid-area:remove-button1;
}
.remove-button4 {
    grid-area:remove-button1;
}
.remove-button5 {
    grid-area:remove-button1;
}

.space {
    grid-area:space;
}

/* Full Users Page */
.trainers-group {
    width: 84%;
}

.trainers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    background: rgba(255, 255, 255, 0.8);
    width:90%;
    font-family: 'Kanit', sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    align-self:center;
    height:100%;
}

/*For Friends Page*/
.friends-title {
    font-size: 32px;
    color:#140f46;
    text-align:center;
    justify-content:center;
}

/*For Friends Page*/
.user-item {
    text-shadow: none;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: .2fr .4fr 1fr 1fr .8fr .8fr; 
    grid-template-rows: 1fr .1fr .1fr; 
    gap: 3px; 
    grid-template-areas: 
        "ranking profile-pic user-name user-name battle-btn friend-btn"
        "created created created . last-seen last-seen"
    ;
    align-items: center; 
    padding:10px;
    padding-bottom: 0px;
}

/*For Friends Page*/
.ranking {
    grid-area: ranking;
}

/*.list-group-item {
    padding: 10px;
    padding-bottom: 0px;
}*/
.other-user-name-container {
    grid-area: user-name;
    grid-column: 3 / span 2;
    display: flex;
    flex-direction: row;
    align-items:center;
}

/*For Friends Page*/
.other-user-name {
    grid-column: 3 / span 2;
    font-size: 14px;
    color:#1d1d1d;
    text-shadow: 1px 1px 1px #cccccc;
}

.other-user-name:hover {
    text-decoration: none;
    color:#969696;
}

.battle-btn {
    grid-area:battle-btn;
    height: 25px;
    width: 60px;
    font-size: 9px;
    padding: 0.3rem 0.5rem;
    justify-self: flex-end;
}

.friend-btn {
    grid-area: friend-btn;
    height: 25px;
    width: 60px;
    font-size: 9px;
    padding: 0.3rem 0.5rem;
    justify-self: flex-end;

}

.created-text {
    grid-area: created;
    justify-self: flex-start;
}

.last-seen-text {
    grid-area: last-seen;
    justify-self: flex-end;
}

.friend-req-btn {
    width: 110px;
}

/*Battle Page*/
.trainer-card-container {
    display:flex;
    flex-direction: row;
    gap: 30px;
}

/* if we were using cards --- note we would switch them around
.battle-pokemon-container {
    display:flex;
    flex-direction: row;
    gap: 30px;
}*/

/*note we switch them around*/
.battle-pokemon-container {
    display:flex;
    flex-direction: column;
    gap: 30px;
}

/*
.users-pokemon-container {
    height:100%; 
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    display: grid;
    align-items:center;

    justify-content:flex-end; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 

    grid-template-rows: minmax(auto, 85%); 
    grid-template-areas: 
        "poke-card1 poke-card2 poke-card3 poke-card4 poke-card5"; 
} */

.users-pokemon-container {
    height:100%; 
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    display: grid;
    align-items:center;

    justify-content:center; 
    grid-template-columns: auto auto auto auto; 

    grid-template-rows: minmax(auto, 85%); 
    grid-template-areas: 
        "poke-card1 poke-card2 poke-card3 poke-card4 poke-card5"; 
} 

.battle-lower-container {
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items: center;
}

.battle-text {
    width: 85%;
    text-align: center;
    border: 1px solid;
    border-radius: 2px 2px 2px 2px;
}