.navbar-brand img {
    margin-right:7px;
}

.nav-items-shown {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 75% 15% 10%; 
    grid-template-rows: 1fr; 
    gap: auto 10px; 
    grid-template-areas: 
    ".navbar-brand .user-profile-icons .navbar-toggler"; 
    width:100%;
}

.user-link {
    color: rgb(169, 172, 83);
}

.user-link:hover {
    color: rgb(108, 109, 53);
}

.guest-link {
    color: rgb(163, 163, 163);
}

.guest-link:hover {
    color: rgb(50, 50, 50);
}

#user-greeting {
    justify-self: end;
    align-self:center;
    position:relative;
}

#profile-icon {
    width: 30px;
    height:30px;
    justify-self:center;
}

.profile_img {
    align-self:center;
    border-radius: 50%;
    padding:2px;
    border: 1px solid black;
    background-color: white;
}

.user-profile-icons{
    display:flex;
    flex-direction: rows;
    min-width: 100px;
    align-self:center;
    justify-self:right;
}

.navbar-toggler {
    justify-self: end;
    position:fixed;
    min-width:50px;
}

.nav-item p {
    background-color:rgb(41, 41, 41);
    margin-bottom:0px;
}

.navbar-collapse {
    padding-top: 10px;
}

h1 {
    text-align:center;
    color:red;
    padding-top:10px;
}

h6 {
    text-align:center;
    padding:30px;
}

.index {
    display:flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
}

.index button {
    width:50%;
    align-self:center;
}

.container {
    display:flex;
    width:100%;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

h4 {
    font-size:20px;
    text-align:center;
    padding:10px;
}

#search-area {
    align-self:center;
    justify-self:center;
}

form {
    align-items:center;
    justify-content:center;
    width:50%;
    flex-direction: column;
    display:flex;
}

#profile-pic-option {
    margin-top:4px;
    font-size: 13px;
}

#submit-btn {
    align-self:center;
    justify-self:center;
    width:50%;
    margin:10px;
    padding:3px;
}


.card-body {
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    text-align:center;
    justify-self:flex-start;
}

.card-text {
    font-size: 8px;
    padding:0;
    margin:0;
    height:14px;
}

.card {
    /*border: 2px solid rgb(53, 54, 60);*/
    border: 0px;
    width:100%;
    height:100%h;
    display: grid; 
    grid-auto-flow: column;
    grid-auto-columns: fit-column; 
    grid-auto-rows: auto; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ".card-title-top"
        ".card-img-top"
        ".card-body"; 
}

.steel-card { 
    background-image: url("./img/steel-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.fire-card { 
    background-image: url("./img/fire-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.basic-card { 
    background-image: url("./img/basic-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.electric-card { 
    background-image: url("./img/electric-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.water-card { 
    background-image: url("./img/water-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.psychic-card { 
    background-image: url("./img/psychic-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.fighting-card { 
    background-image: url("./img/fighting-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.dragon-card { 
    background-image: url("./img/dragon-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.ice-card { 
    background-image: url("./img/ice-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.grass-card { 
    background-image: url("./img/grass-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.dark-card { 
    background-image: url("./img/dark-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.fairy-card { 
    background-image: url("./img/fairy-pokemon-card-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.card-body {
    padding:0;
    margin:0;
    width:100%;
}

.card-img-top {
    /*transform:scale(.6);
    -ms-transform:scale(.6); /* IE 9 */
    /*-moz-transform:scale(.6); /* Firefox */
    /*-webkit-transform:scale(.6); /* Safari and Chrome */
    /*-o-transform:scale(.6); /* Opera */
    width:60%;
    height:60%h;
    padding:0;
    margin:0;
    align-self:center;
    justify-self:center;
}


.list-group {
    width: 90%;
    justify-self:flex-start;
    margin-top:6px;
}

.list-group-item {
    background-color:rgb(247, 246, 246);
    color:rgb(0, 0, 0);
}

.card-title-top {
    margin-top:9px;
    font-size:16px;
    padding:0;
    margin-bottom:0;
}

.card-title-steel {
    margin-left:14px;
}

.card-title-basic {
    margin-left:14px;
}

.card-title-fire {
    margin-left:45px;
}

.card-title-electric {
    margin-left:50px;
    font-size: 13px;
}

.card-title-grass {
    margin-left:50px;
    font-size: 13px;
}

.card-title-water {
    margin-left:50px;
    font-size: 13px;
}

.card-title-psychic {
    margin-left:50px;
    font-size: 13px;
}

.card-title-ice {
    margin-left:45px;
}

.card-title-dragon {
    margin-left:50px;
    font-size: 13px;
}

.card-title-fighting {
    margin-left:50px;
    font-size: 13px;
}

.card-title-dark {
    margin-left:50px;
    font-size: 13px;
    color:rgb(246, 246, 246);
}

.card-title-fairy {
    margin-left:50px;
    font-size: 13px;
}

#login-text {
    color:rgb(43, 155, 170)
}

#sign-up-text {
    color:rgb(19, 97, 243);
    margin-bottom: 18px;
}

.form {
    width: 100%;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    margin: 4px;
}

.form-button {
    margin: 4px;
}

.signup-link {
    font-size: 13px;
}

.invalid-input {
    color:red;
    font-size: 10px;
    margin:0px;
}
