{% extends 'base.html' %}
{% block content %}
<div class='home-container trainers-container'>
    {% if friend_requests|length %}
    <h1 class="friends-title">Friend Requests</h1>
    {% endif %}
    {% if current_user.is_authenticated %} <!--Logged in-->
        <ul class="list-group trainers-group">
        {% for f in friend_requests %}
            <div class="list-group-item user-item">
                <span class="ranking">{{f.battle_score}}</span>
                {% if f.profile_pic %}
                    <img class= "profile_img" src="{{f.profile_pic}}" width="30px" height="30px" style="background-color:{{f.color}}">
                {% else %}
                    <img class= "profile_img" src="{{ url_for('static', filename='img/user_img/user-no-img.png') }}" width="30px" height="30px" style="background-color:{{f.color}}">
                {% endif %}
                <a class="other-user-name" href="{{url_for('user_page', user_id=f.user_id)}}">{{f.first_name}} {{f.last_name}}</a>
                {% if (f.user_id != current_user.user_id) and (f not in sent_friend_requests)%}
                    {% if f in current_user.followed.all() %}
                        <a class="btn btn-info battle-btn" href="{{url_for('ready_to_battle', user_id = f.user_id)}}">Battle</a>
                        <a class="btn btn-danger friend-btn" href="{{url_for('unfriend_user', user_id = f.user_id)}}">Unfriend</a>
                    {% else %}
                        <!--Everything should be this, if-statement above just double checks though-->
                        <a class="btn btn-primary battle-btn friend-req-btn" href="{{url_for('friend_user', user_id = f.user_id)}}">Accept Friend Request</a>
                        <a class="btn btn-danger friend-btn friend-req-btn" href="{{url_for('deny_user', user_id = f.user_id)}}">Deny Friend Request</a>
                    {% endif %}
                <p class="card-text created-text"><small class="text-body-secondary">Created {{moment(f.date_created).fromNow()}}</small></p>
                <p class="card-text last-seen-text"><small class="text-body-secondary">Last seen {{moment(f.last_seen).fromNow()}}</small></p>
                {% endif %}
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Log in to see your friend requests</h2>
    {% endif %}

    <!--List of Sent Friend Requests-->
    {% if sent_friend_requests|length %}
    <h1 class="friends-title">Pending Friend Requests</h1>
    {% endif %}
    {% if current_user.is_authenticated %} <!--Logged in-->
        <ul class="list-group trainers-group">
        {% for f in sent_friend_requests %}
            <div class="list-group-item user-item">
                <span class="ranking">{{f.battle_score}}</span>
                {% if f.profile_pic %}
                    <img class= "profile_img" src="{{f.profile_pic}}" width="30px" height="30px" style="background-color:{{f.color}}">
                {% else %}
                    <img class= "profile_img" src="{{ url_for('static', filename='img/user_img/user-no-img.png') }}" width="30px" height="30px" style="background-color:{{f.color}}">
                {% endif %}
                <a class="other-user-name" href="{{url_for('user_page', user_id=f.user_id)}}">{{f.first_name}} {{f.last_name}}</a>
                {% if (f.user_id != current_user.user_id) and (f not in friend_requests)%}
                    {% if f in current_user.followed.all() %}
                        <!--Everything should be this let's just double check though-->
                        <a class="btn btn-danger friend-btn friend-req-btn" href="{{url_for('remove_friend_req', user_id = f.user_id)}}">Remove Friend Request</a>
                    {% else %}
                    <a class="btn btn-primary friend-btn friend-req-btn" href="{{url_for('friend_user', user_id = f.user_id)}}">Send Friend Request</a>
                    {% endif %}
                <p class="card-text created-text"><small class="text-body-secondary">Created {{moment(f.date_created).fromNow()}}</small></p>
                <p class="card-text last-seen-text"><small class="text-body-secondary">Last seen {{moment(f.last_seen).fromNow()}}</small></p>
                {% endif %}
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Log in to see your friend requests</h2>
    {% endif %}
    
    {% if not sent_friend_requests|length and not friend_requests|length %}
        <h1 class="friends-title">No Pending Friend Requests</h1>
    {% endif %}

</div>

{% endblock %}