{% extends 'base.html' %}
{% block title%}
<div class="container home-container">
    <h1>Welcome to PokeGame</h1>
    <h6>Catch Pokemon • Battle • Make Friends</h6>
    {% if current_user.is_authenticated %}
        <button type="button" onclick="window.location.href='/search'"class="btn btn-success">Let's Get Started</button>
    {% else %}
    <button type="button" onclick="window.location.href='/login'"class="btn btn-success">Let's Get Started</button>
    {% endif %}
    </div>
{% endblock %}