<nav class="navbar navbar-expand-xxl navbar-dark bg-dark">
  <div class="nav-items-shown">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/pokeball.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""><span>PokeGame</span></a>
    {% if current_user.is_authenticated %}
      <div class="user-profile-icons">
        {% if current_user.profile_pic %}
          <img class= "profile_img" src="{{current_user.profile_pic}}" id="profile_icon" width="30px" height="30px" style="background-color:{{current_user.color}}">
        {% endif %}
      <!--Handling Friend Requests-->
      <a class="user-link nav-link active" id="user-greeting" href="/user/{{current_user.user_id}}" style="color:{{current_user.color}}">{{current_user.first_name.title()}}</a>
      {% set requests = [] %}
		  {% for fr in current_user.followers.all() %}
        {% if fr not in current_user.followed.all()%}
				  {{requests.append(fr) or ""}}
			  {% endif %}
      {% endfor %}
      {% if requests|length %}
		    <a class= "notification" href="/friend+requests">{{requests|length}}</a>
      {% endif %}
    </div>
    {% else %}
      <a class="guest-link nav-link active" id="user-greeting">Guest</a>
    {% endif%}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link hello-user-link" href="/user/{{current_user.user_id}}" style="color:{{current_user.color}}">Hello, {{ current_user.first_name.title() }}</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friend+requests">Friend Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friends">My Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Trainers List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-battle" href="/choose+battle">Battle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-catch" href="/search">Catch Pokemon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active">Hello, Guest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

